@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.tasks,
.results {
  display: flex;
  height: 90vh;
  align-items:flex-end;
  justify-content: center;
  font-size: 3rem;
  background-image: url(./Images/neuromorphic-processors.jpeg);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  border-image-width: 25%;
  color: #18c03d;
}
