.patterns-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 2%;
}

.patterns {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: scroll;
}