.params-section{
    display: flex;
    gap: 35px;
    flex-direction: row;
    height: 800px;
}

.params-list{
    font-size: large;
    overflow-y: scroll;
}

.home-page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f0f3ff;
}

.button-group{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.button-item{
    width: 50%;
}